
##########################################################
#
#	Project configuration, below.  (project-independent)
#
##########################################################

# (REQUIRED) The user config file to use
user.config=bo.config

# (OPTIONAL) This directory contains swc's for the swc we're building to compile against, but not link in.
swcCompileAgainst.lib.dir=swcLibs_compileAgainst

# (OPTIONAL) Include all of the class definitions in any *.swc files in this directory ino the SWC that we're building.
swcIncludeAll.dir=swcLibs_includeAll

# (OPTIONAL) The directory of our swc-assets, should they exist.  This is the library path to any swc files that will be included *only* if referenced in the 'test.src.dir'
includeInSwfIfUsed.lib=swfLibs_includeIfUsed

# (OPTIONAL) This directory contains swc's for the swf we're building to compile against, but not link in.
swfCompileAgainst.lib.dir=swfLibs_compileAgainst

# (OPTIONAL) Include all of the class definitions in any *.swc files in this directory ino the SWF that we're building.
swfIncludeAll.dir=swfLibs_includeAll

# (OPTIONAL) The directory to which we build our swc before copying it to copy.build.to.dir
swc.build.dir=bin

# (OPTIONAL) The source of where the classes are to build the swc. Used only if building a swc. If just building a swf, use test.src.dir, only.
src.dir=src

# (REQUIRED) The source directory for test classes.  It's the root of the document class's path.
test.src.dir=testSrc

# (REQUIRED) The directory where our test-swf is to be built.
test.build.dir=testBuild

# (REQUIRED) When the swc has been built, it is copied to the following directory:
copy.build.to.dir=swfLibs_includeAll

#name of the swc file to compile.
swc.name=MonsterProofEngine.swc

# name of the swf file to create
swf.name=BoredEngineTest.swf

frame.rate=30
bg.color=0x000000
target.player=10.0.0
width=700
height=550

# relative path (from the root) of the class to build the swf from.
document.class=BoredEngineTest.as

# Location of the documents to be published for this module/project
asdoc.output=docs

# Text-footer for the generated documentation.
docs.footer=DartsApp

# Leave this field empty (but do NOT comment out), if you wish to NOT build the docs. Otherwise, set it to anything.
build.docs=true

# Code in the brackets of "COMPILEVAR::DEBUG{}" is used if true, else it is removed.
compile.code.debug=true
